<?xml version="1.0" encoding="UTF-8"?>
<suite name="Regression Test" verbose="1" >

    <test name="Login Test" >
        <classes>
            <class name="com.automation.test.LoginTest" />
        </classes>
    </test>

    <test name="HomePage Test" >
        <classes>
            <class name="com.automation.test.HomePageTest" />
        </classes>
    </test>




</suite>
